<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="redisConfig" type="Ucoin.Framework.Configurations.RedisConfigurationHandler, Ucoin.Framework.Configurations" />
  </configSections>
  
  <!--<connectionStrings>
    <add name="DbContext.ConferenceManagement" connectionString="Data Source=.;Initial Catalog=conference;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.SqlBus" connectionString="Data Source=.;Initial Catalog=conference;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <redisConfig>
    <hostGroup name="Common" allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
      <hosts>
        <host ip="127.0.0.1" port="6379" isReadonly="true"/>
        <host ip="127.0.0.1" port="6380" isReadonly="false"/>
      </hosts>
    </hostGroup>
  </redisConfig>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    
  <appSettings>
    <add key="AppCodeType" value="Common"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <sessionState mode="Custom" cookieless="false" timeout="300" customProvider="RedisSessionProvider">
      <providers>
        <add name="RedisSessionProvider" type="Ucoin.Framework.RedisSession.RedisSessionStateStoreProvider, Ucoin.Framework.RedisSession" />
      </providers>
    </sessionState>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>
