<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="wcf.server" type="Ucoin.ServiceModel.Server.Configuration.WcfServerSection, Ucoin.ServiceModel.Server" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common" requirePermission="true" />
  </configSections>
  <wcf.server xmlns="Ucoin.ServiceModel.Server.Configuration">
    <service name="Ucoin Common Service" address="net.tcp://localhost:829" />
  </wcf.server>
  <enterpriseLibrary.ConfigurationSource selectedSource="systemSource" parentSource="elib">
    <sources>
      <add name="systemSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
      <add name="elib" type="Ucoin.ServiceModel.Configuration.FileConfigSource, Ucoin.ServiceModel" filePath="elib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="ResourceProccess.UploadDir" value="\\172.18.16.20\技术开发部\转运站\个人文件夹\周佳佳\Upload" />
    <add key="Global.ResourceDomain" value="http://resource.ucoin.cn/Site/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="compressionBinding">
          <compressionTextEncoding algorithm="SharpZip" minMessageSize="1024">
            <textEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12WSAddressing10" writeEncoding="utf-8">
              <readerQuotas maxArrayLength="65536000" maxDepth="32" maxStringContentLength="655360000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textEncoding>
          </compressionTextEncoding>
          <tcpTransport portSharingEnabled="true" maxReceivedMessageSize="10485760" />
        </binding>
      </customBinding>
      <!--<netTcpBinding>
        <binding maxReceivedMessageSize="10485760" portSharingEnabled="true">
          <security mode="None" />
          <readerQuotas maxDepth="32" maxStringContentLength="65536000" maxArrayLength="65536000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--可用信道最大鏈接數-->
          <serviceThrottling maxConcurrentSessions="1000" />
          <exceptionHandling exceptionPolicy="WCF" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="exceptionHandling" type="Ucoin.ServiceModel.Core.ExceptionHandlingBehaviorElement, Ucoin.ServiceModel.Core" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="compressionTextEncoding" type="Ucoin.ServiceModel.Core.CompressionTextEncodingElement, Ucoin.ServiceModel.Core" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>