<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <!--<connectionStrings>
    <add name="EFTestContext" connectionString="Server=localhost; Database=EFTestContext; Integrated Security=SSPI; MultipleActiveResultSets=True;" />
  </connectionStrings>-->

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <!--<alias  alias="singleton"
      type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,    
          Microsoft.Practices.Unity" />-->
    <container>
      <register type="Ucoin.Framework.ServiceLocator.Test.ILogger, Ucoin.Framework.Test" mapTo="Ucoin.Framework.ServiceLocator.Test.SimpleLogger, Ucoin.Framework.Test">
        <!--<lifetime type="singleton"/>-->
      </register>
      <register name="SimpleLogger" type="Ucoin.Framework.ServiceLocator.Test.ILogger, Ucoin.Framework.Test" mapTo="Ucoin.Framework.ServiceLocator.Test.SimpleLogger, Ucoin.Framework.Test">
        <!--<lifetime type="singleton"/>-->
      </register>
    </container>
  </unity>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=localhost; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>