<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
    <section name="redisCacheClient" type="Ucoin.Framework.Cache.RedisCachingSectionHandler, Ucoin.Framework.Cache" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <!--<connectionStrings>
    <add name="EFTestContext" connectionString="Server=localhost; Database=EFTestContext; Integrated Security=SSPI; MultipleActiveResultSets=True;" />
  </connectionStrings>-->

  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
    <hosts>
      <add ip="127.0.0.1" port="6379"/>
      <add ip="127.0.0.1" port="6380"/>
      <add ip="127.0.0.1" port="6381"/>
    </hosts>
  </redisCacheClient>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <!--<alias  alias="singleton"
      type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,    
          Microsoft.Practices.Unity" />-->
    <container>
      <register type="Ucoin.Framework.ServiceLocation.Test.ILogger, Ucoin.Framework.Test" mapTo="Ucoin.Framework.ServiceLocation.Test.SimpleLogger, Ucoin.Framework.Test">
        <!--<lifetime type="singleton"/>-->
      </register>
      <register name="SimpleLogger" type="Ucoin.Framework.ServiceLocation.Test.ILogger, Ucoin.Framework.Test" mapTo="Ucoin.Framework.ServiceLocation.Test.SimpleLogger, Ucoin.Framework.Test">
        <!--<lifetime type="singleton"/>-->
      </register>
      <register name="AdvancedLogger" type="Ucoin.Framework.ServiceLocation.Test.ILogger, Ucoin.Framework.Test" mapTo="Ucoin.Framework.ServiceLocation.Test.AdvancedLogger, Ucoin.Framework.Test">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=localhost; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>