<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--<add key="ServerSharePath" value="D:\Tmp"/>-->
  <add key="MessageQueue" value="WebDeployMQ" />
  <add key="DeployBackupShareFolder" value="D:\Tmp\Backup"/>
</appSettings>