<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--Entity Framework-->
    <register type="CtripSZ.SCMP.Domain.IRepositoryContext, CtripSZ.SCMP.Domain"
                  mapTo="CtripSZ.SCMP.EfData.EfRepositoryContext, CtripSZ.SCMP.EfData" />

    <!--Regist  Service-->
    <register type="CtripSZ.SCMP.IService.ISystemService, CtripSZ.SCMP.IService"
              mapTo="CtripSZ.SCMP.Service.SystemService, CtripSZ.SCMP.Service" />
    <register type="CtripSZ.SCMP.IService.IDeployService, CtripSZ.SCMP.IService"
              mapTo="CtripSZ.SCMP.Service.DeployService, CtripSZ.SCMP.Service" />

    <!--Regist Repository-->
    <register type="CtripSZ.SCMP.IRepository.IServerRepository, CtripSZ.SCMP.IRepository"
             mapTo="CtripSZ.SCMP.EfRepository.ServerRepository, CtripSZ.SCMP.EfRepository" />
    <register type="CtripSZ.SCMP.IRepository.IDeploymentLogRepository, CtripSZ.SCMP.IRepository"
             mapTo="CtripSZ.SCMP.EfRepository.DeploymentLogRepository, CtripSZ.SCMP.EfRepository" />
  </container>
</unity>