<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false"/>
    <sectionGroup name="common">
      <section name="logging"
               type="Ucoin.Framework.Logging.Configuration.ConfigurationSectionHandler, Ucoin.Framework.Logging"/>
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="UcoinLogMongoDb" connectionString="mongodb://127.0.0.1/UcoinLogMongoDb"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Ucoin.Log.IServices.ILogService, Ucoin.Log.IServices" mapTo="Ucoin.Log.Services.LogService, Ucoin.Log.Services"/>
    </container>
  </unity>

  <common>
    <logging>
      <!--<loggerAdapter type="Ucoin.Framework.Logging.Simple.ConsoleOutLoggerAdapter, Ucoin.Framework.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
        <arg key="useColor" value="true"/>
      </loggerAdapter>-->
      <loggerAdapter type="Ucoin.Framework.Logging.EntLib.EntLibLoggerAdapter, Ucoin.Framework.Logging.EntLib">
        <arg key="level" value="Info"/>
      </loggerAdapter>
    </logging>
  </common>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
</configuration>