<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Ucoin.Framework.Logging.Configuration.ConfigurationSectionHandler, Ucoin.Framework.Logging"/>
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>

  <common>
    <logging>
      <!--<loggerAdapter type="Ucoin.Framework.Logging.Simple.ConsoleOutLoggerAdapter, Ucoin.Framework.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
        <arg key="useColor" value="true"/>
      </loggerAdapter>-->
      <loggerAdapter type="Ucoin.Framework.Logging.EntLib.EntLibLoggerAdapter, Ucoin.Framework.Logging.EntLib">
        <arg key="level" value="INFO"/>
      </loggerAdapter>
    </logging>
  </common>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData" fileName="log.txt"/>
      <add name="Test Capturing Listener" listenerDataType="Ucoin.Framework.Logging.EntLib.CustomTraceListenerData, Ucoin.Framework.Logging.EntLib" loggerNameFormat="{listenerName}/{sourceName}" formatter="EntLibLoggingFormatter"/>
      <add name="MongoDbTraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           type="Ucoin.Framework.Logging.EntLib.MongoDbTraceListener, Ucoin.Framework.Logging.EntLib"
           formatter="EmptyFormatter" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
                    Message: {message}
                    Category: {category}
                    Priority: {priority}
                    EventId: {eventid}
                    Severity: {severity}
                    Title:{title}
                    Machine: {machine}
                    Application Domain: {appDomain}
                    Process Id: {processId}
                    Process Name: {processName}
                    Win32 Thread Id: {win32ThreadId}
                    Thread Name: {threadName}
                    Extended Properties: {dictionary({key} - {value}
                    )}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="TextFormatter"/>
      <add template="" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="EmptyFormatter"/>
    </formatters>
    <categorySources>
      <!--<add switchValue="All" name="General">
        <listeners>
          <add name="MongoDbTraceListener"/>
        </listeners>
      </add>-->
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="MongoDbTraceListener"/>
        </listeners>
      </allEvents>
      <!--<notProcessed switchValue="All" name="Unprocessed Category"/>-->
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>