<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- used by DefaultConfigurationReaderTests -->
    <add key="appConfigCheck" value="FromAppConfig"/>
  </appSettings>

  <system.diagnostics>
    <!--<sharedListeners>
      <add name="myListener" type="Common.MyTestTraceListener, Common.Logging.Tests">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
    </sharedListeners>-->
    <sources>
      <source name="TraceLoggerTests">
        <listeners>
          <clear/>
          <add name="myListener" type="Ucoin.Logging.Test.CapturingTraceListener, Ucoin.Logging.Test"/>
        </listeners>
      </source>
      <!--<source name="DiagnosticsTracePerformanceTest" switchValue="All">
        <listeners>
          <clear/>
          <add name="myListener"/>
        </listeners>
      </source>-->
    </sources>
  </system.diagnostics>
</configuration>