<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="appConfigCheck" value="FromAppConfig"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="TraceLoggerTests">
        <listeners>
          <clear/>
          <add name="myListener" type="Ucoin.Logging.Test.CapturingTraceListener, Ucoin.Logging.Test"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>