<connectionStrings>
  
  <add name="RMDB" providerName="System.Data.SqlClient"
       connectionString="data source=localhost;Initial Catalog=UcoinRMDB;
         Persist Security Info=True;User ID=sa;Password=123;"/>
  
  <!--<add name="ScmpDb" providerName="MySql.Data.MySqlClient" 
       connectionString="Data Source=172.18.23.245;port=3306; 
       Initial Catalog=ScmpDb;user id=root;password=1111111;"/>-->
  
</connectionStrings>
