<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
  </configSections>
  
  <connectionStrings>
    <add name="GroupTourDB" connectionString="data source=HP580DBSZ\Dev;Initial Catalog=GroupTourDB;Persist Security Info=True;User ID=sa;Password=ctrip.hp580dbsz.dev;" providerName="System.Data.SqlClient"/>
    <add name="MongoTestDB" connectionString="mongodb://127.0.0.1/MongoTestDB"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="GroupTour.IService.IOrderLogService, GroupTour.IService" mapTo="GroupTour.Mongo.Service.OrderLogService, GroupTour.Mongo.Service"/>
      <register type="GroupTour.IService.IAdjustPriceLogService, GroupTour.IService" mapTo="GroupTour.Mongo.Service.AdjustPriceLogService, GroupTour.Mongo.Service"/>
    </container>
  </unity>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
