<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wcf.client" type="Ucoin.ServiceModel.Client.Configuration.WcfClientSection, Ucoin.ServiceModel.Client"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <wcf.client xmlns="Ucoin.ServiceModel.Client.Configuration">
    <services>
      <service assembly="*"></service>
    </services>
    <clients>
      <client address="net.tcp://localhost:829" assembly="*"/>
    </clients>
  </wcf.client>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="compressionBinding">
          <compressionTextEncoding algorithm="SharpZip" minMessageSize="1024">
            <textEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12WSAddressing10" writeEncoding="utf-8">
              <readerQuotas maxArrayLength="65536000" maxDepth="32" maxStringContentLength="655360000"  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textEncoding>
          </compressionTextEncoding>
          <tcpTransport maxReceivedMessageSize="10485760"/>
        </binding>
      </customBinding>
      <!--<netTcpBinding>
				<binding maxReceivedMessageSize="10485760" portSharingEnabled="true">
					<security mode="None" />
					<readerQuotas maxDepth="32" maxStringContentLength="655360000" maxArrayLength="65536000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>-->
    </bindings>

    <behaviors>
      <!--<endpointBehaviors>
				<behavior name="maxItems">
					<dataContractSerializer maxItemsInObjectGraph="655350" />
				</behavior>
			</endpointBehaviors>-->
      <endpointBehaviors>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="compressionTextEncoding" type="Ucoin.ServiceModel.Core.CompressionTextEncodingElement, Ucoin.ServiceModel.Core"/>
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Ucoin.ServiceModel.Client"/>
    <assembly name="Microsoft.Practices.Unity"/>

    <container name="Ucoin">
      <!--<register type="Microsoft.Practices.Unity.LifetimeManager,Microsoft.Practices.Unity" mapTo="Ucoin.ServiceModel.Client.ContextLifeTimeManager, Ucoin.ServiceModel.Client" name="default"/>-->
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>